@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
    margin: auto;
    width: 1280px;
    padding: 0px 100px;
    font-family: 'Roboto';
    font-style: normal;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 79px;
}

.logo {
    margin-top: 63px;
}

.blue-text {
    color: #4BCAFF;
    font-size: 79px;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    width: 1280px;
    height: 69px;
    margin-top: 40px;
}

.navbar {
    padding: 21px 40px;
}

.link1 {
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}

.navbar:hover {
    background: #222F3A;
}

.nav-content1 {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.nav-content3 {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.nav-content4 {
    border-right: 1px solid #FFFFFF;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin: 49px auto 0px;
}

.left-content {
    height: max-content;
    width: 344px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.left-menu-content {
    padding: auto;
}

.link2 {
    display: block;
    font-size: 27px;
    color: #485863;
    text-decoration: none;
    padding: 27px 40px;
}

.link2:hover {
    display: block;
    transform: translateX(40px);
    transition: transform 0.5s ease; 
}

.left-menu-content:hover {
    background-color: #DBDBDB;
}

.right-content {
    max-width: 885px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.img:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}

.ramda-text1 {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

.ramda-text2 {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 34px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 69px;
    background: #63696E7A;
    margin: 54px 0 30px;
    padding: 0px 40px;
}

.left-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    width: 875px;
}

.link3 {
    display: inline;
    text-decoration: none;
    color: #0C1927;
}

.link3:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
}

.footer-content1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px; 
}